
.main{
  text-align:center;
}

#description{
  font-style:italic;
  
  font-size:1.125rem;
}

#survey-form{
  line-height:40px;
  width:1000px;
  margin:0 auto;
}

label{
  display: inline-block;
  width: 1000px;
  text-align: left;
  
}

#name{
  width:1000px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height: 2.375rem;
}

#email{
  width:1000px;
  border:1px solid #ced4da;
  border-radius:0.25rem;
  height:2.375rem;
}

#number{
  width:1000px;
  border:1px solid #ced4da;
  border-radius:0.25rem;
  height:2.375rem;
}

#label2{
  margin:auto;
  margin-right:500px;
}

#recommend{
  margin:auto;
  
}

#submit{
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-green);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}

textarea{
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}