*{
    background-color:#e3e4e8;
  }
  
  #main{
    text-align:center;
  }
  #img-div{
    text-align:center;
  }
  #title{
    text-align:center;
  }
  #info{
    width:700px;
    margin-right:auto;
    margin-left:auto;
  }
  #add{
    font-style:italic;
  }
  footer{
    text-align:center;
  }