body{
    display:flex;
    flex-direction:column;
  }
  a{
      text-decoration-line: none;
  }
  #navbar{
    position:fixed;
    width:300px;
  }
  header{
    text-align:center;
    font-size:30px;
  }
  #navbar li{
    list-style:none;
    border-top:1px solid;
    position:relative;
  }
  #navbar ul{
    overflow:hidden;
    float:left;
  }
  #main-doc{
    position:absolute;
    margin-left:310px;
    margin-bottom:110px;
    padding:20px;
  }
  #main-doc header{
    text-align:left;
  }
  #main-doc article{
    margin:15px;
  }