body{
    diplay:flex;
    flex-direction:column;
  }
  #navbar{
    display:flex;
    position:fixed;
    justify-content:center;
    flex-direction:row;
    width:100%;
    background-color:green;
    top:0;
    left:0;
  }
  .nav-list li{
    list-style:none;
    display:flex;
  }
  .nav-link{
    text-decoration-line:none;
    display:flex;
    margin-right:2rem;
    color:white;
    bos-sizing:inherit;
  }
  #welcome-section-ID{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100vh;
    background-color:orange;
    font-size:4em;
  }
  #welcome-section-ID h1{
    color:white;
  }
  #project{
    background-color:gray;
  }
  #project h2{
    font-size:3em;
    text-align:center;
    color:white;
  }
  .grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:200px 200px;
    grid-gap:2rem;
    margin:0 auto;
  }
  .project-image{
    width:80%;
  }
  #contact{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:80vh;
  }
  #contact a{
    text-decoration:none;
    color:black;
  }