
#header{
    position:fixed;
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:#eee;
    min-height: 75px;
    padding: 0px 20px;
    
  }
  
  #email{
    height:30px;
    width:300px;
  }
  
  #submit{
    background-color:#f1c40f;
    height:30px;
    max-width:150px;
    width:100%;
    font-size:1em;
    cursor:pointer;
    font-weight:900;
    border:0;
  }
  
  .logo{
    width:60vw;
  }
  
  .logo #header-img{
    max-width:300px;
    display:flex;
    margin-left:20px;
  }
  
  .nav-link{
    text-decoration:none;
  }
  
  nav ul{
    display:flex;
    flex-direction:row;
    width:35vw;
    justify-content:space-around;
  }
  
  li{
    list-style:none;
  }
  
  #main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
    background-color:#eee;
  }
  
  #features{
    margin-top:30px;
  }
  
  .grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
  }
  
  .container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  
  body{
    background-color:#eee;
  }
  
  #how-it-works{
    display:flex;
    justify-content:center;
  }
  
  #video{
    width:560px;
    height:300px;
  }
  
  .pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
  }
  
  .level{
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  #pricing{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  ol li{
    margin-right:30px;
  }
  
  .btn{
    border:0;
    margin:15px 0;
    background-color:#f1c40f;
    font-weight:400;
    height:40px;
    font-size:1em;
    cursor:pointer;
  }
  
  footer{
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
  }
  
  footer ul{
    display:flex;
    justify-content:flex-end;
  }
  
  footer > ul > li{
    padding:0 10px;
  }
  
  span{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
  }